.jumbotron{
	background-color: #f4645f !important;
	color: white;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

body{
	background-color: #DDDDDD;
}

div.nav a{
	color: white;
	display: inline-block;
}

.nav-pills a{
	color: white !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: rgb(234, 10, 29) !important;
}


.nav-pills>li>a:focus, .nav-pills>li>a:hover{
	background-color: rgb(234, 10, 29) !important;
}

div.post {
    background: #f8f8f8;
    margin-bottom: 30px;
    padding: 20px 35px;
    box-shadow: 0 1px 4px #aaa;
    overflow: hidden;
}

.user-info {
    padding: 20px;
    padding-top: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 4px #aaa;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.card {
    border-radius: 3px;
    background: #fff;
    color: #555;
    text-align: center;
    box-shadow: 0px 1px 2px  #aaa;
    margin-top: 12px;
}

.card img{
	display: block;
	text-align: center;
	max-width: 200px;
	max-height: 200px;
}

.card h3 {
    margin: 10px 0 20px;
    color: #111;
}
.card ul {
    list-style-type:  none;
    border-top:1px #eee solid;
    margin: 0;
    padding: 0;
}
.card ul li {
    float:left;
    width: 33%;
    padding: 8px 0;
    border-left: 1px #eee solid;
}
.card ul li b{
    font-size: 17px;
    color: #111;
}

.main-content{
	padding-left: 25px;
	padding-right: 25px;
}

.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}

.card ul {
    list-style-type: none;
    border-top: 1px #eee solid;
    margin: 0;
    padding: 0;
}

.card .avater {
    display: inline-block;
    margin-top: -40px;
    position: relative;
    background: #fff;
    box-shadow: 0 1px #ccc;
    border-radius: 100%;
    border: 3px #fff solid;
    overflow: hidden;
}

.card .header {
    background-position: top left;
    background-image: url(../pics/card.png);
    background-size: cover;
    height: 148px;
}

* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.ptitle{
	text-align: center;
}


div.post p{
	font-size: 2.0rem;
}

div.post .featured {
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-right: 20px #f4645f solid;
    border-bottom: 20px solid transparent;
    margin-top: -20px;
    margin-right: -38px;
}

.card {
    border-radius: 3px;
    background: #fff;
    color: #555;
    text-align: center;
    box-shadow: 0px 1px 2px #aaa;
    margin-top: 12px;
}



.sidebar {
    margin-bottom: 0;
}
.sidebar-content {
    padding: 20px;
    padding-top: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 1px 4px #aaa;
}

.nav-sidebar {
    margin-bottom: 0;
}
.nav-sidebar > li > a {
    padding: 7px 10px;
    color: #817c7c;
    font-size: 16px;
    border-bottom: 1px #ddd solid;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #ea6753;
}

div .sidebar h5 {
    margin-bottom:5px;
    padding: 10px 0 10px 0;
    font-size: 17px;
    color: #31a3cb;
    border-bottom: 3px #ccc solid;
}
div .sidebar h5.info {
    padding-top:0;
}
div .sidebar sup {
    padding-left: 5px;
    top:-8px;
}
div .sidebar form {
    width: 100%;
    margin: 7px 0 15px 0;
}
div .sidebar #search {
    width: 60%;
    display: inline-block;
    height: 30px;
}
div .sidebar button {
    width: 35%;
    float: right;
    font-size: 14px;
}

.red-btn {
    display: inline-block;
    background: #f4645f;
    color: #fafafa;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
}
.red-btn:hover {
    background: #555;
    color: #fafafa;
}
