{% extends "base.html" %}
{% block title %}article{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<link href="../static/css/index.css" rel="stylesheet">
  <div class="jumbotron index">
    <h1 class="title">Hello, world!</h1>
    <p>Gru</p>
    <div class="centered-pills">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Articles<span class="badge">{{Length}}</span></a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="/login">Admin</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12 main-content">
          <div class="post">
            <a href="#" class="featured "></a>
            <center>
              <h2 ><a href="/">{{article.Title}}</a></h2>
              <small >From:Gru {{article.SubTime}}</small>
            </center>
            <hr>
            <p>
              {{article.Content|safe}}
            </p>
          </div>
        </div>
        <div class="col-md-3 visible-lg visible-md">
          <div class="user-info">
            <div class="card">
              <img src="../static/img/info.jpg" alt="..." class="img-circle center-block">
              <div class="content">
                <h3>Gru</h3>
                <ul class="status" >
                  <li><b>Article</b><br>{{Length}}</li>
                  <li><b>asdf</b><br>asdf</li>
                  <li><b>asdf</b><br>asdf</li>
               </ul>
              </div>
            </div>
            <p>
              asdf
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-footer" >
  <h3 >Gru's Blog</h3>
    &copy; Copyright 2016 by <a href="http://imgru.site">Gru</a>
  </div>

{% endblock %}
