{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<form class="form-group" action="post" method="post">
	<div class="row">
		<div class="col-md-2">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon2">@</span>
			  <input type="text" class="form-control" placeholder="Header" aria-describedby="sizing-addon2">
			</div>
			<button type="submit" name="button" class="btn btn-default">提交</button>
		</div>
		<div class="col-md-10">
			<textarea id="editor" placeholder="这里输入内容" autofocus></textarea>
		</div>
	</div>
</form>
{% endblock %}
