{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<link href="../static/css/index.css" rel="stylesheet">
  <div class="jumbotron index">
    <h1 class="title">Hello, world!</h1>
    <p>Gru</p>
    <div class="centered-pills">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home<span class="badge">42</span></a></li>
        <li role="presentation"><a href="/edit">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-12 main-content">
          {% for i in articles.items %}
          <div class="post">
            <a href="#" class="featured"></a>
            <h2><a href="#">{{i.Title}}</a></h2>
            <small>From:Gru {{i.SubTime}}</small>
            <br/><br/>
            {{i.Content |safe}}
            <hr>
          </div>
        </div>
        {% endfor %}
        <div class="col-md-3 visible-lg visible-md">
          <div class="user-info">
            <div class="card">
              <img src="../static/img/info.jpg" alt="..." class="img-circle center-block">
              <div class="content">
                <h3>Gru</h3>
                <ul class="status" >
                  <li><b>asdf</b><br>asdf</li>
                  <li><b>asdf</b><br>asdf</li>
                  <li><b>asdf</b><br>asdf</li>
               </ul>
              </div>
            </div>
            <p>
              asdf
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
